@import "fonts.scss";
@import "../css/reset";

// =====================================Preloader================================

.preloader-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #FFB548;
	z-index: 30;
}

.preloader{
	font-family: $osb;
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#fff;
	font-size:40px;
	text-align:center;
	line-height:35px;
}

.loading {
	font-size: 60px;
	line-height: 1.5;
}

.logo {
	position: absolute;
	width: 200px;
	height: 150px;
	background: url('../img/Preloader.gif') 50%/contain no-repeat;
	margin-top: -120px;
	left: calc(50% - 100px);
}

body.lock {
	overflow: hidden;
	}
	
// ============================Main Page==========================================

.main-page {
	width: 100%;
	height: 100vh;
	background-color: #080A0B;
	&_wrapper {
		max-width: 1440px;
		background: url('../img/bg_image-1.jpg') 50%/cover no-repeat;
		height: 100%;
		margin: 0 auto;
		color: #fff;
		padding: 0 20px;
		position: relative;
	}
	& .burger-menu {
		position: fixed;
		display: none;
		top: 50px;
		right: 15px;
		width: 30px;
		height: 40px;
		z-index: 60;
		& span {
			display: block;
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background-color: #fff;
			transition: 0.4s;
			&:before, &:after {
				content: '';
				width: 100%;
				height: 3px;
				border-radius: 3px;
				background-color: #fff;
				position: absolute;
				top: 10px;
			}
			&:after {
				right: 0;
				top: 20px;
				width: 60%;
			}
		}
	}
	& .burger-menu.active {
		padding-top: 10px;
		& span {
			transform: rotate(45deg);
			top: 20px;
			&:before {
				transform: rotate(-90deg);
				top: 0;
			}
			&:after {
				transform: scaleX(0);
			}
		}
	}
	&_title {
		text-align: center;
		margin-top: 235px;
		font-family: $beb;
		font-size: 80px;
		letter-spacing: 3px;
		animation: blur .75s ease-out infinite;
		text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
	}

	@keyframes blur {
		0% {text-shadow:0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff}
	}

	&_subtitle {
		text-align: center;
		font-family: $beb;
		font-size: 24px;
		letter-spacing: 2px;
		margin-bottom: 35px;
	}
	&_button-buy {
		width: 260px;
		height: 60px;
		background-color: #FFB548;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $osb;
		font-size: 16px;
		color: #000;
		margin: 0 auto;
		cursor: pointer;
		&:hover {
			animation: shake 0.1s infinite linear;
		}
		& span {
			color: #1A1917;
		}
	}
	@keyframes shake {
		25% {transform: rotate(2deg);}
		50% {transform: rotate(0deg);}
		75% {transform: rotate(-2deg);}
		100% {transform: rotate(0deg);}
	}
	&_arrow-down {
		position: absolute;
		left: calc(50% - 34px);
		bottom: 70px;
		font-family: $osb;
		font-size: 12px;
		text-transform: uppercase;
		width: 68px;
		height: 40px;
		cursor: pointer;
		background: url('../img/scroll down.svg') center 70% no-repeat;
		animation: arrow 1s ease-in infinite alternate;
	}
	@keyframes arrow {
		100% {
			background-position: center bottom;
		}
	}
	&__header {
		padding-top: 20px;
		display: flex;
		width: 100%;
		height: 60px;
		align-items: center;
		&_logo {}
		&__menu {
			padding-top: 10px;
			margin-left: 170px;
			margin-right: 190px;
			display: flex;
			width: 51%;
			justify-content: space-between;
			font-family: $osb;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
			&_link {
				position: relative;
				&:after {
				content: '';
				position: absolute;
				bottom: -7px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #FFB548;
				transform: scaleX(0);
				transition: 0.4s;
				}
				&:hover:after {
					transform: scaleX(1);
				}
			}
		}
		& >div:last-child {
			display: flex;
		}
		&__lang {
			font-family: $osb;
			font-size: 12px;
			text-transform: uppercase;
			cursor: pointer;
			display: flex;
			padding-top: 10px;
			align-self: center;
			width: 75px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				right: 25px;
				width: 7px;
				height: 7px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(-45deg);
			}
			& >div:first-child {
				padding-left: 10px;
			}
			& .select {
				position: absolute;
				top: 20px;
				width: 56px;
				height: 67px;
				padding-left: 10px;
				padding-top: 10px;
				margin-top: 10px;
				background: url('../img/lang-bg.png') left bottom no-repeat;
				transition: 0.4s;
				transform: scaleY(0);
				transform-origin: top;
				& > div:hover {
					color: #FFB548;
				}
				& div:nth-child(2) {
					margin: 5px 0;
				}
			}
			& .select.active {
				transform: scaleY(1);
			}
		}
		&__markets {
			border-left: 1px solid rgba(255,255,255, 0.5);
			padding-left: 24px;
			width: 100px;
			justify-content: space-between;
			display: flex;
			&_shop {
				transition: 0.5s;
				border-radius: 50%;
				&:hover {
					box-shadow: 0 0 0 5px #cacaca;
				}
			}
		}
	}
}

// ============================About Page==========================================

.about-page {
	width: 100%;
	background-color: #080A0B;
	overflow: hidden;
	height: 100vh;
	&_wrapper {
		background: #000 url('../img/bg_image-2.jpg') 50%/cover no-repeat;
		max-width: 1440px;
		height: 100%;
		margin: 0 auto;
		color: #fff;
		padding: 15vh 20px 0;
	}
	&__content {
		display: flex;
		max-width: 1080px;
		height: 610px;
		&__description {
			padding-right: 28px;
			width: 53.7%;
			&_suptitle {
				font-family: $beb;
				font-size: 24px;
				letter-spacing: 2px;
				margin-bottom: 10px;
			}
			&_title {
				font-family: $beb;
				font-size: 80px;
				letter-spacing: 3px;
				padding-bottom: 10px;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					border-radius: 3px;
					bottom: 0;
					left: 0;
					background-color: #fff;
				}
			}
			&_article {
				padding-top: 64px;
				padding-left: 190px;
				font-family: $osr;
				font-size: 18px;
				line-height: 1.2;
				text-align: justify;
				& span {
					font-family: $osb;
				}
				& .cross {
					font-family: $osr;
					position: relative;
					z-index: 0;
					&:before {
					content: '';
					position: absolute;
					background-color: #FFB548;
					width: 100%;
					height: 5px;
					top: 50%;
					z-index: -1;
					}
				}
			}
		}
		&__slider {
			width: 46.3%;
			position: relative;
			z-index: 0;
			&_switch {
				position: absolute;
				cursor: pointer;
				top: calc(50% - 38px);
				right: -100px;
				width: 18px;
				height: 38px;
				background: url('../img/switch.png') 50%/contain no-repeat;
			}
			&_screens {
				width: 100%;
				height: 610px;
					& .screen {
						width: 100%;
						height: 100%;
						transition: 0.4s;
						& img {
							border-radius: 10px;
							width: 100%;
							height: 100%;
						}
						&:nth-child(n+2) {
							position: absolute;
							z-index: -1;
							top: 30px;
							left: 70px;
							width: 90%;
							height: 90%;
						}
						&:nth-child(n+3) {
							z-index: -2;
							left: 140px;
							top: 60px;
							width: 80%;
							height: 80%;
						}
				}
			}
			& img {
				width: 100%;
			}
			&_dots {
				position: absolute;
				width: 100%;
				height: 20px;
				bottom: 20px;
				display: flex;
				justify-content: center;
				& .dot.active {
					background-color: #fff;
				}
				& .dot, & .dot.active {
					cursor: pointer;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					border: 2px solid #fff;
				}
				& .dot:not(:first-child) {
					margin-left: 24px;
				}
				& .dot:not(:last-child) {
					margin-right: 24px;
				}
				& .dot.active {
					background-color: #fff;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						height: 3px;
						width: 63px;
						left: -26px;
						top: 4px;
						background-color: #fff;
					}
				}
				& .dot.active:first-child:before {
					width: 37px;
					left: 0px;
				}
				& .dot.active:last-child:before {
					width: 37px;
					left: -26px;
				}
			}
		}
	}
}

// ============================Features Page==========================================

.features-page {
	height: 100vh;
	background-color: #080A0B;
	&_wrapper {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	color: #fff;
	background: url('../img/Rectangle_bg-3-2.png')50%/cover no-repeat , url('../img/bg_image-3.jpg') 50%/cover no-repeat;
	}
	&__content {
		padding: 13% 0 0 55%;
		&_suptitle {
			font-family: $beb;
			font-size: 24px;
			letter-spacing: 2px;
		}
		&_title {
			font-family: $beb;
			font-size: 80px;
			letter-spacing: 3px;
			margin-bottom: 80px;
		}
		&__features {
			.feature {
				padding-left: 40px;
				margin-bottom: 42px;
				position: relative;
				transition: 0.3s;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 10px;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #000;
					border: 1px solid #fff;
					z-index: 2;
					}
				&:after {
					content: '';
					position: absolute;
					width: 2px;
					height: 150px;
					top: 15px;
					left: 6px;
					background-color: #fff;
				}
				&:nth-child(n+2) {
					&:after {
						display: none;
					}
				}
				&_title {
					font-family: $beb;
					font-size: 36px;
					letter-spacing: 2px;
					color: #FFB548;
					margin-bottom: 10px;
					cursor: pointer;
				}
				&_article {
					font-family: $osr;
					font-size: 18px;
					line-height: 1.2;
					max-width: 70%;
					display: none;
				}
			}

			.feature.active {
				&:before {
					background-color: #fff;
				}
				&:nth-child(2):after {
					display: block;
				}
				& .feature_article {
					display: block;
				}
			}
		}
	}
}


// ============================Media Queries==========================================

@media (max-width: 1280px) {
	.main-page_wrapper {
		padding: 20px;
	}
	.main-page__header {
		justify-content: space-between;
		&__menu {
		margin-left: 0;
		margin-right: 0;
		width: 60%;
		}
	}
	.main-page_title {
		margin-top: 30vh;
	}
	.about-page_wrapper {
		padding: 10vh 20px 0;
	}
	.about-page__content {
	}
	.about-page__content__description {
		width: 50%;
	}
	.about-page__content__slider {
		width: 40%;
	}
	.features-page__content__features .feature_article {
		min-width: 320px;
	}
}

@media (max-width: 1100px) {
	.about-page_wrapper {
		padding-top: 30px;
	}
	.about-page__content {
		flex-direction: column;
		height: calc(90vh);
		justify-content: center;
		&__description {
			width: 100%;
			margin-bottom: 10px;
			&_title {
				font-size: 50px;
			}
			&_article {
				padding: 10px;
				font-size: 14px;
			}
		}
		&__slider {
			width: 350px;
			height: 420px;
			&_screens {
				height: 420px;
			}
		}
	}
	.features-page__content {
		padding-left: 40%;
		&__features {
			.feature_title {
				font-size: 28px;
			}
			.feature_article {
				max-width: 320px;
			}
		}
	}
}

@media (max-width: 750px) {
	.main-page .burger-menu {
		display: block;
	}
	.main-page__header {
		&__menu {
			position: fixed;
			padding-top: 70px;
			padding-right: 30px;
			top: 0px;
			right: 0px;
			width: 100%;
			height: 100%;
			justify-content: start;
			flex-direction: column;
			align-items: flex-end;
			line-height: 2.2;
			font-size: 20px;
			background: url('../img/burger_bg.jpg') 50%/cover no-repeat;
			z-index: 50;
			transform: scaleX(0);
			transform-origin: right;
			transition: 0.4s;
			&.active {
				transform: scaleX(1);
			}
		}
		&__markets {
			width: 40px;
			padding-left: 0;
			&_shop {
			display: none;
			}
		}
	}
}
@media (max-width: 650px) {
	.about-page__content__description {
		&_suptitle {
			font-size: 20px;
			margin-bottom: 0;
		}
		&_title {
			font-size: 40px;
		}
		&_article {
			font-size: 12px;
			padding: 5px;
		}
	}
	.features-page__content {
		padding-left: 20%;
		&_suptitle {
			font-size: 30px;
		}
		&_title {
			font-size: 46px;
		}
	}
}

@media (max-width: 480px) {
	.main-page_title {
		font-size: 32px;
		margin-bottom: 15px;
		margin-top: 15vh;
	}
	.main-page_subtitle {
		font-size: 18px;
	}
	.main-page_button-buy {
		width: 217px;
		font-size: 14px;
	}
	.main-page_arrow-down {
		bottom: 2vmin;
	}
	.about-page {
		height: 600px;
		&__content {
			height: inherit;
		}
	}
	.about-page_wrapper {
		padding: 50px 10px 0;
	}
	.about-page__content__description {
		&_title {
		font-size: 30px;
		}
		&_article {
			font-size: 10px;
		}
	}
	.about-page__content__slider {
		width: 230px;
		height: 280px;
		&_switch {
			right: -60px;
			top: 45%;
			width: 14px;
			height: 30px;
		}
		&_screens {
			width: 250px;
			height: 300px;
			& .screen {
				&:nth-child(n+2) {
				top: 25px;
				left: 55px;
				width: 90%;
				height: 90%;
				}
				&:nth-child(n+3) {
					left: 110px;
					top: 40px;
					width: 70%;
					height: 80%;
				}
			}
		}
	}
	.about-page__content__slider_dots {
		margin-left: 10px;
		& .dot, & .dot.active {
			border: 1px solid #fff;
			height: 8px;
			width: 10px;
			&:before {
				height: 1px;
				top: 3px;
			}
			&:last-child:before {
				width: 30px;
			}
		}
	}
	.features-page_wrapper {
		 background: url(../img/Rectangle_bg-3-2.png) 50%/cover no-repeat, url(../img/bg_image-3.jpg) 30%/cover no-repeat;
	}
	.features-page__content {
		padding-left: 30%;
		&_suptitle {
			font-size: 18px;
		}
		&_title {
			font-size: 30px;
		}
		&__features {
			.feature {
				padding-left: 30px;
				&:before {
					top: 0;
				}
			}
			.feature_title {
				font-size: 16px;
				margin-bottom: 30px;
			}
			.feature_article {
				font-size: 14px;
				min-width: 200px;
				max-width: 200px;
			}
			.feature:after {
				height: 0;
			}
			.feature.active:first-child:after {
				height: 200px;
			}
			.feature.active:nth-child(2):after {
				height: 200px;
				top: -45px;
			}
			.feature.active:nth-child(3):after {
				display: block;
				height: 100px;
				top: -100px;
			}
		}
	}
}
@media (max-width: 370px) {
	.features-page__content {
		padding-left: 15%;
	}
}

@media (max-height: 660px) and (orientation: landscape) {
	.main-page_title {
		margin-top: 10vmin;
	}
	.about-page {
		height: 750px;
		overflow: hidden;
		&_wrapper {
			height: inherit;
		}
		&__content {
			height: inherit;
		}
	}
	.features-page {
		height: 600px;
	}
}

@media (max-height: 430px) and (orientation: landscape) {
	.main-page_wrapper {
		padding-top: 0;
	}
	.main-page .burger-menu {
		top: 30px;
	}
	.main-page_title {
		font-size: 33px;
		margin-bottom: 15px;
	}
	.main-page_subtitle {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.main-page_button-buy {
		width: 180px;
		height: 40px;
		font-size: 12px;
	}
	.main-page_arrow-down {
		bottom: 2vmin;
	}
}